div.character-selection {
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.character-selection .character-name {
    text-align: center;
}

div.character-selection .character-name h2 {
    font-size: 4rem;
    color: white;
}

div.character-selection .character-name h3 {
    font-size: 3rem;
    color: white;
}

div.character-selection .character-image {
    display: flex;
    gap: 2rem;
}

.character-image .character-frame {
    position: relative;
}

.character-image .character-frame .button {
    position: absolute;
    width: 250px;
    bottom: -2rem;
    text-align: center;
    left: calc(50% - 135px);
    border: 1px solid black;
}

div.character-selection .character-image .character-frame img {
    width: 400px;
    image-rendering: pixelated;
    background-color: white;
}

.character-image .button.choose-character {
    text-align: center;
    align-self: center;
    width: 3rem;
    user-select: none;
}

div.character-selection .character-details {
    padding-top: 1rem;
    text-align: center;
    font-size: 3rem;
    color: white;
}